
@phone-portrait: 550px;
@small: 760px;
@medium: 800px;

@font-size-header: 48px;
@font-size-base: 16px;
@font-size-larger: 18px;
@font-size-smaller: 14px;

@link-color: #007393;

@btn-bgcolor-hover: #63666A;
@grey-border-color: #D5D5D5;
@btn-txtcolor: #ffffff;