<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- site.css will be injected -->
</head>
<body>
    <nav role="navigation">
        <div class="sbNav">
            <div class="sbNav-titleGroup">
                <div class="sbNav-titleGroup-item">
                    <a target="_blank" href="http://www.smarterbalanced.org/">
                      <img alt="Smarter Balanced Logo" src="images/SmarterBalanced_logo.png">
                    </a>
                </div>
                <div class="sbNav-titleGroup-item">
                    <h3>Scoring Guide</h3>
                </div>
            </div>
        </div>
    </nav>

    <main class="container" role="main">
        <div id="react-container"> </div>
        <hr />
    </main>

    <footer role="contentinfo">
        <a class="footer-practiceTests" href="http://practice.smarterbalanced.org/">Practice and training tests are available here.</a>
        <div class="footer-copyright">
            <p>&copy; The Regents of the University of California – Smarter Balanced Assessment Consortium</p>
            <a class="footer-sbLink" href="//www.smarterbalanced.org">www.SmarterBalanced.org</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bundle.js will be injected -->
</body>

</html>
