.item-card {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding-left: 40px;
}

.selected-tab {
    background-color: white;
    padding: 15px;
    border-style: solid;
    border-top-color: #d9d9d9;
    border-right-color: #d9d9d9;
    border-left-color: #d9d9d9;
    border-bottom: 5px solid white;
    border-width: 1px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-bottom: -3px;
}

.selected-tab:hover {
    cursor: pointer;
}

.tab-not-selected {
    background-color: #f3f3f3;
    padding: 15px;
}

.tab-not-selected:hover {
    cursor: pointer;
}

.item-content {
    background-color: white;
}

.item-information-content {
    padding: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 5px;
    -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
}

table.item-table {
    width: 100%;
    height: 100%;
    background-color: #D5D5D5;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    border-spacing: 1px;
}

.ItemNumber {
    width: 150px;
    padding: 5px;
}

.Claim {
    width: 250px;
    padding: 5px;
}

.Subject {
    width: 200px;
    padding: 5px;
}

.Grade {
    width: 225px;
    padding: 5px;
}

.ItemType {
    width: 225px;
    padding: 5px;
}

.selected {
    background-color: #63666A !important;
    color: white;
}

.selected:hover {
    background-color: #535559 !important;
    color: white;
}

.selected:focus {
    background-color: #535559;
    color: white;
}

table.item-table > thead > tr > th:first-child,
table.item-table > tbody > tr > td:first-child {
    width: 50px;
    min-width: 50px;
    text-align: center;
    padding: 0px;
}

table.item-table > tbody > tr > td{
    text-align: left;
}

table.item-table > tbody > tr:nth-child(even) {
    background-color: #F3F3F3;
    border: 1px solid #D9D9D9;
}

table.item-table > tbody > tr:nth-child(odd) {
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
}

table.item-table > tbody > tr:hover {
    background-color: #FFFFFF;
}

table.item-table > thead > tr > th {
    border-right: 1px solid hsla(220,3%,40%,.17);
    width: 200px;
    min-width: 100px;
    background-color: #E3E3E3;
    text-align: left;
    white-space: nowrap;
    border: none;
    padding:4px 8px;
}

table.item-table > thead > tr > th > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

table.item-table > thead > tr > th:hover {
    background-color: #EFEFEF;
}

table.item-table > tbody > tr > td {
    width: 200px;
    min-width: 100px;
    padding: 8px;
}

.search-categories {
    display: flex;
    width: 75%;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2px;
}

.search-categories > select {
    margin-right: 5px;
}

.search-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-basis: 600px;
    justify-content: center;
    padding: 20px;
    padding-top:8em;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 0px 0px 10px 10px;
    margin-top: -20px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
