@import "constants.less";

.container {
    width: 100%;
}

.accessibility-groups {
    display: flex;
    flex-direction: column;
}

.accessibility-dropdowns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.accessibility-dropdown {
    padding: 7px;
    flex-basis: 250px;
}

.accessibility-modal {
    width: auto;
    max-width: 825px;
    min-width: 300px;
}

.sample-response {
    margin-left: 10px;
}

.accessibility-button { 
    float: right;
    font-size: @font-size-larger;
    border-radius: 0px;
    margin-bottom: 5px !important;
}

.expand-button {
    cursor: pointer;
}

.option-disabled {
    background: rgb(128,128,128); /* Fallback for browsers without support for rgba() */
    background: rgba(128,128,128,0.4);
}

.selection-disabled {
    opacity: 0.5;
}

.url-display {
  font-family: monospace;
  margin-bottom: 10px;
  overflow: auto;
  padding: 5px;
  padding-top: 75px;
  width: auto;
  word-wrap:break-word;
}

.readonly-select {
    user-select: all;
}

.glyphicon-pad {
    padding: 5px;
}

.btn-cancel {
    background-color: #0085AD;
    border-color: #106481;
}

.btn-cancel:hover {
    background-color: #106481;
}

.item-nav {
    display:flex;
    justify-content: space-between; 
    margin-right: 5px; //sb
    margin-bottom: 5px; //sb
}

.item-nav-left-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.item-nav-right-group {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.item-nav-btn {
    margin-top: auto; 
    font-size: @font-size-smaller;
    padding: 0px 10px 0px 10px;
    white-space: nowrap;
    color: @link-color; //SB
    
    &:hover{
        text-decoration: none;
    }
}

.item-nav-long-label {
    display: inherit; 
}

    @media (max-width: @small) {
        .item-nav-long-label {
            display: none; 
        }
    }

.accessibility-btn {
    font-size: @font-size-larger;
    padding: 6px 12px; // SB
}

.more-like-this {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.more-like-this-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 15px;
}

.more-like-this-modal {
    max-width: 800px;
    width: auto;
}

.more-like-this-modal h3{
    margin-top: 0px;
}

.modal-body {
    padding: 15px;
}

.modal-header {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.modal-header .close {
    padding: 10px;
    float: none;
    order: 2;
}

.modal-title {
    flex: 1;
    margin-left: 8px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}