.filter-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-errorlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-body {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}

.filter-indicator{
    padding: 5px;
    margin: 2px;
    color: #ffffff;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    background-color: #2d7bbd;
    color: #ffffff;
}

.filter-error {
    padding: 5px;
    margin: 2px;
    color: #ffffff;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    background-color: red;
    color: #ffffff;
}

.filter-error > span {
    padding: 2px;
}

.filter-indicator:hover{
    background-color: #63666A;
}

.filter-indicator > span {
    padding: 2px;
}

.filter-button-container {
    display: flex;
    flex-flow: column nowrap;
}

.filter-button {
    margin: 1px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    padding: 8px;
    height: 30px;
    background-color: #fff;
    outline: #d5d5d5;
}

.filter-button:hover {
    background-color: #63666A;
    color: white;
    box-shadow: 1px 1px 2px black;
    border: 0;
}

.filter-button:active {
    background-color: #1f67a1;
    color:white;
    border: 0;
}

.selected-button {
    background-color: #2d7bbd;
    color:white;
}

.filter-selection {
    padding: 10px;
}

.advanced-filter-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    margin-bottom: 1em;
}

.advanced-filter-container-expanded {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    background-color: #e6e6e6;
}

.child-filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

