.item-data-table {
    border-collapse: collapse;
  }
  
  .item-data-table thead {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  
  .item-data-table td,
  .item-data-table th {
    outline: 1px solid black;
    padding: 6px 10px;
    text-align: center;
  }
  
  .evidence-container {
    text-align: center;
    margin: 40px;
  }
  
  /* next */
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .full-width {
    width: 100%;
  }
  
  .header {
    width: 100%;
  }
  
  .header-logo {
    height: 75px;
  }
  
  .header-title {
    font-size: 36px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .footer {
    font-size: 16px;
  }
  
  .footer-page-number {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .item-data-table {
    border-collapse: collapse;
    margin: 10px;
  }
  
  .item-data-table thead {
    background-color: green;
    color: white;
    font-weight: bold;
  }
  
  .item-data-table td,
  .item-data-table th {
    outline: 1px solid black;
    padding: 6px 10px;
    text-align: center;
  }
  
  .page {
    page-break-after: always;
  }
  
  .item {
    page-break-inside: avoid;
  }
  
  .first-page {
    text-align: right;
    padding-top: 200px;
  }
  
  .first-page-title {
    color: #007393;
    font-size: 48px;
    margin: 30px 0;
  }
  
  .first-page-subtitle {
    font-size: 36px;
    margin: 30px 0;
  }
  
  .first-page-date {
    font-size: 28px;
    margin: 10px 0;
  }
  