@import "constants";

.about-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about-items-info {
  flex: 1 370px;
  margin: 0 @spacing-unit/2;
}

.about-items-iframe,
.no-item {
  flex: 1 @small;
  margin: @spacing-unit*1.5 @spacing-unit/2;
}
.about-items-iframe {
  padding: 0;
}

.about-items-dropdown {
  width: inherit;
  padding-top: 10px;
}

.about-items-dropdown .form-control {
  padding: @spacing-unit;
  font-size: @font-size-base;
  max-width: 100%;
  height: auto;
}

.about-items-desc {
  border-radius: 6px; // SB
  margin-top: @spacing-unit;
}

.about-items-text {
  align-content: center;
  font-size: @font-size-larger; // SB
  margin-bottom: @spacing-unit;
}

.no-item {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: @font-size-larger;
}

.about-item-modal {
  max-width: @modal-max-width;
}

@media screen and (max-width: @small) {
  .about-items-iframe,
  .no-item {
    margin: @spacing-unit*1.5 0;
  }
  .about-items-info {
    margin: 0;
  }
}
