@import "constants.less";

.filter-jump-link-footer{
    position: fixed;
    display: flex;
    flex-flow: row-reverse nowrap;
    bottom: 5%;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: flex-start;
    z-index: 1;
}

.filter-jump-link-container{
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.filter-jump-link:link {
    text-decoration: none;
    text-align: center;
    background-color: @sb-blue-lighter;
    color: @text-color-light;
    padding: 4px 8px 4px 8px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: @box-shadow-light;
    height: 25px;
    width: 125px;
  }
  
  .filter-jump-link:hover {
    text-decoration: none;
    background-color: @sb-blue;
    color: @text-color-light;
  }
  
  .filter-jump-link:active {
    text-decoration: none;
    background-color: @sb-blue-darker;
  }
  
  .filter-jump-link:visited {
    text-decoration: none;
  }