.filter-jump-link-container{
    display: flex;
    width: 100%;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
}

.filter-jump-link:link {
    text-decoration: none;
    background-color: @sb-blue-lighter;
    color: @text-color-light;
    padding: 4px 8px 4px 8px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: @box-shadow-light;
  }
  
  .filter-jump-link:hover {
    text-decoration: none;
    background-color: @sb-blue;
    color: @text-color-light;
  }
  
  .filter-jump-link:active {
    text-decoration: none;
    background-color: @sb-blue-darker;
  }
  
  .filter-jump-link:visited {
    text-decoration: none;
  }