@import "constants";

.item-bank-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 100%;
}
.revisions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.revisions-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.about-item-iframe {
    flex-grow: 0.95;
}

.revisions {
    padding: 5px;
    border-style: solid;
    border-color: @grey-border-color;
    border-width: 1px;
    border-radius: @spacing-item;
    -moz-box-shadow: @box-shadow-light;
    -webkit-box-shadow: @box-shadow-light;
    box-shadow: @box-shadow-light;
}

.revisions-header {
    font-weight: bold;
    font-size: 22px;
}

.revisions-details {
    font-size: 10.5px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previous, .next {
    margin: 0px 14px;
}

.current-items-table {
    border-style: solid;
    border-color: @grey-border-color;
    border-width: 1px;
    border-radius: @spacing-item;
    -moz-box-shadow: @box-shadow-light;
    -webkit-box-shadow: @box-shadow-light;
    box-shadow: @box-shadow-light;
    margin-top: 10px;
    margin-bottom: 10px;
    table-layout: fixed;
}

.items-list tr:nth-child(even){
    background-color: #eee;
}

.items-list tr:nth-child(odd){
    background-color: #fff;
}

.items-list td{
    width: 350px;
}

th {
    background-color: @sb-blue;
    color: white;
    padding: 5px;
}