@import "constants";

.item-bank-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.revisions-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  align-content: center;
}

.item-map-iframe {
  flex-grow: 1;
  padding: 0 0 0 @spacing-unit;
}

.revisions {
  border-style: solid;
  border-color: @grey-border-color;
  border-width: 1px;
  border-radius: @spacing-item;
  -moz-box-shadow: @box-shadow-light;
  -webkit-box-shadow: @box-shadow-light;
  box-shadow: @box-shadow-light;
}

.revisions-header {
  font-weight: bold;
  font-size: 22px;
}

.revisions-details {
  font-size: 10.5px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 375px;
  flex-shrink: 1;
}

.items-list {
  border-style: solid;
  border-color: @grey-border-color;
  border-width: 1px;
  border-radius: @spacing-item;
  -moz-box-shadow: @box-shadow-light;
  -webkit-box-shadow: @box-shadow-light;
  box-shadow: @box-shadow-light;
  table-layout: fixed;
}

.current-items-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .items-list td {
    width: 250px;
  }

  .items-list tr:nth-child(even) {
    background-color: #eee;
  }

  .items-list tr:nth-child(odd) {
    background-color: #fff;
  }

  th {
    background-color: @sb-gray;
    color: white;
    padding: @spacing-item;
  }

  td {
    padding: @spacing-item;
  }

  div.section-dd {
    display: flex;
  }
}

.csv-entry-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.csv-entry-wrapper {
  display: flex;
  flex-flow: column nowrap;

  .help-button {
    align-self: flex-end;
  }
}

.csv-add {
  width: 400px;
  max-width: 400px;
  height: 125px;
}

.revisions-link {
  margin: 0;
  padding: 0;
}
