//** Item Card styles

@import "constants";

.card {
    border: 2px solid;
    border-radius: 6px;
    background-color: @sb-white;
    color: #444444;
    width: 300px;
    -webkit-transition-duration: 0.2s; // Safari
    transition-duration: 0.2s;
    cursor: pointer;
    margin: 26px;
    font-size: @font-size-base;
    box-shadow: @card-shadow;

    .math {
        border-color: @sb-green;
    }
}

.card:focus,
.card:hover  {
    color:#ffffff;
    box-shadow: @card-shadow;
}

.card.ela {
    border-color: @sb-blue;
}

.card.condensed {
    margin: @spacing-unit/2;
    width: 215px;
    font-size: 95%; // SB

    h4.card-title {
        padding: @spacing-unit/2;
    }

    .card-contents {
        p {
            padding: 0px @spacing-unit/2 0px @spacing-unit/2;
            margin: 0px 0px 5px 0px;
        }
        p:first-of-type {
            padding-top: @spacing-item;
        }
    }
}

.card-static {
    cursor: default;

    &:hover {
        box-shadow: @card-shadow;
    }
}

.card-icon {
    filter: drop-shadow(0 0 2px rgb(43, 43, 43));
    margin: 0px 7.5px;
}

.card-grade-tag {
    background-color: @sb-white;
    border-radius: 5px;
    padding: 0px 7px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.ela .card-grade-tag {
    color: @sb-blue;
}

.math .card-grade-tag {
    color: @sb-green;
}

.card-title {
    font-family: 'PT Sans', sans-serif;
    color: @sb-white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 7.5px;
}

.math .card-header {
    background-color: @sb-green;
}

.ela .card-header {
    background-color: @sb-blue;
}

@media (max-width: 370px) {
    h4.card-title {
        font-size: 86%;
    }
}

.card-text-label {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    color: #6d6d6d;
    padding-right: .25em;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: .04em;
}

.card-text-value {
    color: #000000;
}

.card-contents p {
    padding-left: 15px;
    padding-right: 15px;
}

.card-contents p:first-of-type {
    padding-top: @spacing-item;
}