@import "constants";

.revisions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-item-iframe {
    flex-grow: 0.95;
}

.revisions {
    padding: 5px;
    border-style: solid;
    border-color: @grey-border-color;
    border-width: 1px;
    border-radius: @spacing-item;
    -moz-box-shadow: @box-shadow-light;
    -webkit-box-shadow: @box-shadow-light;
    box-shadow: @box-shadow-light;
}