.tool-tip-links {
  position: relative;
  display: inline-flex;
  flex-direction: row;

  &:hover,
  &:active,
  &:focus {
    .tool-tip-message.bottom,
    .tool-tip-message,
    .tool-tip-message.top {
      display: inline-block;
    }
  }
}


.tool-tip-link-header {
  padding: 2px;
  padding-left: 4px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  background-color: @background-color-base;
  border-bottom: 4px solid @grey-border-color;
  border-bottom-width: thin;
}

.tool-tip-help-text {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tool-tip-message {
  max-width: 450px;
  display: none;
  position: absolute;
  font-size: 13px;
  z-index: 100;
  background-color: white;
  padding: 0px;
  margin-left: -5px;
  border-style: solid;
  border-color: @grey-border-color;
  border-width: 1px;
  border-radius: @spacing-item;
  -moz-box-shadow: @box-shadow-light;
  -webkit-box-shadow: @box-shadow-light;
  box-shadow: @box-shadow-light;
}

.bottom {
  transform: translateY(25px);
  margin-top: -5px;
}

.top {
  transform: translateY(-100%);
  margin-bottom: -10px;
}

.tool-tip-header {
  font-weight: bold;
  font-size: 22px;
}
