.tooltip-links:hover  .tooltip-message {
    display: inline-block;
}

.tooltip-link-header {
    padding: 2px;
    padding-left: 4px;
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
    background-color: @background-color-base;
    border-bottom: 4px solid @grey-border-color;
    border-bottom-width: thin;
}

.tooltip-commmit-message {
    padding-left: 13px;
    padding-right: 5px;
    padding-bottom: 5px;
}